sublime_Packages_User/Package Control.cache/
sublime_Packages_User/Package Control.last-run
dot.fonts/.uuid
dot.fonts/._Aeonik-Bold.ttf
dot.fonts/._Aeonik-BoldItalic.ttf
dot.fonts/._Aeonik-Light.ttf
dot.fonts/._Aeonik-LightItalic.ttf
dot.fonts/._Aeonik-Regular.ttf
dot.fonts/._Aeonik-RegularItalic.ttf
vim/.netrwhist
screenlayout/default_layout.sh
